.cards {
  /* Band */
  /* List */
  /* CTA List */
}
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards > ul > li {
  background-color: white;
  border: 1px solid white;
}
.cards > ul > li img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards .cards-card-body {
  margin: 16px;
}
.cards .cards-card-body > *:first-child {
  margin-top: 0;
}
.cards .cards-card-image {
  line-height: 0;
}
.cards.band {
  display: none;
}
.cards.band ul {
  display: block;
}
.cards.band ul li {
  border-radius: 0;
  background-position: center 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}
.cards.band .cards-card-body {
  color: white;
  min-height: 26.25rem;
  height: 100%;
  max-width: 80rem;
  /* display: grid;
  column-gap: 1.5rem;
  row-gap: 2rem;
  grid-template-columns: repeat(12, 1fr); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}
.cards.band .cards-card-body > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.cards.band .cards-card-body p {
  font-size: 10px;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  white-space: nowrap;
}
.cards.list {
  text-align: center;
}
.cards.list .cards-card-image img {
  margin: auto;
  width: 34%;
}
.cards.cta-list li {
  border-radius: 1rem;
  border: 0;
  -webkit-box-shadow: 0 12px 20px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 12px 20px 8px rgba(0, 0, 0, 0.16);
}
.cards.cta-list .cards-card-body {
  margin: 0;
  padding: 3rem 3rem 4rem 3rem;
  border-radius: 1rem;
}
.cards.cta-list .button-container {
  padding: 40px 24px 0 24px;
}

/* Card attribute */
.cards-container[data-shadow=true] .cards > ul > li {
  -webkit-box-shadow: var(--card-box-shadow);
          box-shadow: var(--card-box-shadow);
}

.cards-container[data-name=alopecia-areata] .cards .cards-card-image img {
  border-radius: var(--card-image-border-radius);
}

.cards-container[data-name=alopecia-areata] .cards > ul > li {
  border-radius: var(--card-border-radius);
}

/* Grid layout */
.grid-layout {
  margin-bottom: calc(var(--spacing-multiplier) * 6);
}
.grid-layout li {
  height: 100%;
}
.grid-layout.cards {
  padding: 8rem 0 8rem;
  margin: 0 2rem;
}
.grid-layout.cards > ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
  row-gap: 2rem;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-layout.grid-2 li {
  grid-column: span 6/auto;
}

.grid-layout.grid-3 li {
  grid-column: span 4/auto;
}

.grid-layout.grid-4 li {
  grid-column: span 3/auto;
}