.cards [tag="h\d"] {
  text-align: left;
}
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}
.cards > ul > li {
  background-color: white;
  border: 1px solid white;
}
.cards > ul > li img {
  width: 100%;
  object-fit: cover;
}
.cards .button {
  width: 100%;
}

/* Card attribute */
.cards-container[data-shadow="true"] .cards > ul > li {
  box-shadow: var(--card-box-shadow);
}
/* Band */
.cards.band {
  display: none;
}
.cards.band ul {
  display: block;
}
.cards.band ul li {
  border-radius: 0rem;
  background-position: center 0rem;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 0;
}
.cards.band .cards-card-body {
  color: white;
  min-height: 26.25rem;
  height: 100%;
  max-width: 80rem;
  /* display: grid;
  column-gap: 1.5rem;
  row-gap: 2rem;
  grid-template-columns: repeat(12, 1fr); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  margin: auto;
}
.cards.band .cards-card-body > * {
  display: flex;
  align-items: center;
  margin: 0;
}
.cards.band .cards-card-body p {
  font-size: 10px;
  text-align: right;
  align-items: flex-end;
  white-space: nowrap;
}
/**/
.cards-container[data-name="alopecia-areata"] .cards .cards-card-image img {
  border-radius: var(--card-image-border-radius);
}
.cards-container[data-name="alopecia-areata"] .cards > ul > li {
  border-radius: var(--card-border-radius);
}
/* Grid layout */
.grid-layout {
  margin-bottom: calc(var(--spacing-multiplier) * 6);
}
.grid-layout li {
  height: 100%;
}
.grid-layout.cards {
  margin: 2.5rem 1.5rem;
}
.cards.grid-layout > ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
  row-gap: 2rem;
  column-gap: 1.5rem;
  align-items: flex-start;
}
.grid-layout.grid-2 li {
  grid-column: span 6 / auto;
}
.grid-layout.grid-3 li {
  grid-column: span 4 / auto;
}
.grid-layout.grid-4 li {
  grid-column: span 3 / auto;
}
/* List */
.cards.list {
  text-align: center;
}
.cards.list .cards-card-image img {
  margin: auto;
  width: 34%;
}

/* CTA List */
.cards.cta-list li {
  border-radius: 1rem;
  border: 0;
  box-shadow: 0px 12px 20px 8px rgba(0, 0, 0, 0.16);
}
.cards.cta-list .cards-card-body {
  margin: 0;
  padding: 3rem 3rem 4rem 3rem;
  border-radius: 1rem;
}
