.columns {
  /* Band*/
  /* text image */
}
.columns > div {
  display: flex;
  flex-direction: column;
}
.columns > div > div {
  order: 1;
}
.columns > div > .columns-img-col {
  order: 0;
}
.columns > div > .columns-img-col img {
  display: block;
}
.columns img {
  width: 100%;
}
.columns.band {
  color: white;
  position: relative;
}
.columns.band > div {
  min-height: 26.25rem;
  height: 100%;
}
.columns.band .columns-img-container {
  position: absolute;
  z-index: 1;
}
.columns.band .columns-content-container {
  position: relative;
  z-index: 2;
  display: grid;
  max-width: 80rem;
  margin: auto;
  box-sizing: border-box;
  padding: 8px;
  grid-template-columns: 1fr 1fr;
}
.columns.band .columns-content-container > * {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.columns.band .columns-content-container .columns-text-col {
  height: 100%;
}
.columns.band .columns-content-container .columns-text-col:first-child {
  justify-content: flex-start;
  align-items: center;
}
.columns.band .columns-content-container .columns-text-col:last-child {
  margin-top: -4.85rem;
}
.columns.band .columns-content-container .columns-text-col * {
  color: white;
  margin: 0;
}
.columns.band .columns-content-container .columns-text-col p {
  font-size: 10px;
}
.columns.text-image {
  max-width: 75rem;
  padding: 0 32px;
  margin: 0 auto;
}
.columns.text-image .container-inner {
  margin: 0 2rem;
}

@media (min-width: 1024px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }
  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
/* Section container */
.columns-container[data-shadow=true] .columns > div > div {
  box-shadow: var(--column-box-shadow);
  border-radius: var(--columns-border-radius);
}

/* homepage */
main .homepage-banner {
  background-repeat: no-repeat;
  background-image: url("../../images/banner/Homepage_banner.png");
  min-height: 37.42rem;
  height: 100%;
}