.columns {
  /* Band */
  /* text image */
  /* seo info */
}
.columns > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.columns > div > div {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.columns > div > .columns-img-col {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.columns > div > .columns-img-col img {
  display: block;
}
.columns img {
  width: 100%;
}
.columns.band {
  color: white;
  position: relative;
}
.columns.band > div {
  min-height: 26.25rem;
  height: 100%;
}
.columns.band .columns-img-container {
  position: absolute;
  z-index: 1;
}
.columns.band .columns-content-container {
  position: relative;
  z-index: 2;
  display: grid;
  max-width: 80rem;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  grid-template-columns: 1fr 1fr;
}
.columns.band .columns-content-container > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.columns.band .columns-content-container .columns-text-col {
  height: 100%;
}
.columns.band .columns-content-container .columns-text-col:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.columns.band .columns-content-container .columns-text-col:last-child {
  margin-top: -4.85rem;
}
.columns.band .columns-content-container .columns-text-col * {
  color: white;
  margin: 0;
}
.columns.band .columns-content-container .columns-text-col p {
  font-size: 10px;
}
.columns.text-image {
  max-width: 75rem;
  padding: 0 32px;
  margin: 0 auto;
}
.columns.text-image .container-inner {
  margin: 0 2rem;
}
.columns.seo-info {
  display: none;
}

@media (min-width: 1024px) {
  .columns > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    gap: 32px;
  }
  .columns > div > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}
/* Section container */
.columns-container[data-shadow=true] .columns > div > div {
  -webkit-box-shadow: var(--column-box-shadow);
          box-shadow: var(--column-box-shadow);
  border-radius: var(--columns-border-radius);
}

/* homepage */
main .homepage-banner {
  background-repeat: no-repeat;
  background-image: url("../../images/banner/Homepage_banner.png");
  min-height: 37.42rem;
  height: 100%;
}