footer {
  // padding: 2rem;
  // background-color: var(--primary-color);
  // font-size: var(--body-font-size-s);
}

footer {
  position: relative;
  padding-top: 70px;
  &,
  a:any-link {
    color: white;
  }

  a:any-link {
    text-decoration: underline;
  }

  .footer {
    background-color: var(--primary-color);
    > div {
      
      font-size: var(--body-font-size-s);
      width: 100%;
      max-width: 1204px;
      margin: auto;
      > div {
        padding: 2rem;
      }
    }

    p {
      margin: 0;
      font-size: 20px;
    }

    ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding-left: 12px;
      margin-bottom: 24px;
    }

    .columns {
      
      text-align: left;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 32px;

      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 32px;
        border-right: 1px solid white;
        gap: 0;

        &:nth-of-type(2) {
          padding: 0 calc(var(--spacing-multiplier) * 21);
        }

        &:last-of-type {
          padding-left: 1.33rem;
          padding-right: 0;
          border-right: 0;
        }

        > div {
          flex: initial;
        }
      }

      h3 {
        font-size: 2rem;
        color: white;
        margin-bottom: calc(var(--spacing-multiplier) * 6);
      }
    }

    .icon-footer-pfizer-logo {
      display: inline-block;
      width: 88px;
      height: 36px;
      margin-top: 10px;
    }
  }

  .footer-back-top {
    cursor: pointer;
  }
  
  .footer-back-top p {
    height: 0;
  }
  
  .footer-back-top span {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 9999;
    display: grid;
    place-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.16);
  }
  
  .footer-back-top span.fixed {
    position: fixed;
    bottom: 80px;
    top: auto;
  }
  
  .footer-back-top svg {
    width: 30px;
    height: 17px;
  }
}
