@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "OverpassThin";
  src: url("../fonts/Overpass/Overpass-Thin.ttf");
}

@font-face {
  font-family: "OverpassExtraLight";
  src: url("../fonts/Overpass/Overpass-ExtraLight.ttf");
}

@font-face {
  font-family: "OverpassLight";
  src: url("../fonts/Overpass/Overpass-Light.ttf");
}

@font-face {
  font-family: "OverpassMedium";
  src: url("../fonts/Overpass/Overpass-Medium.ttf");
}

@font-face {
  font-family: "OverpassRegular";
  src: url("../fonts/Overpass/Overpass-Regular.ttf");
}

@font-face {
  font-family: "OverpassSemiBold";
  src: url("../fonts/Overpass/Overpass-SemiBold.ttf");
}

@font-face {
  font-family: "OverpassBold";
  src: url("../fonts/Overpass/Overpass-Bold.ttf");
}

@font-face {
  font-family: "OverpassExtraBold";
  src: url("../fonts/Overpass/Overpass-ExtraBold.ttf");
}

@font-face {
  font-family: "OverpassBlack";
  src: url("../fonts/Overpass/Overpass-Black.ttf");
}

/* @font-face {
  font-family: "SquarePegRegular";
  src: url("../fonts/Overpass/SquarePeg-Regular.ttf");
} */
